@charset "utf-8";
//主颜色
$mc1: #c82126;
$mco1: rgba(200,33,38,.9);
$mco2: rgba(200,33,38,.8);
$mc2: #f27276;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
$hc4: #545454;
