<div class="header clearfix">
    <a href="index.html" class="logo"><img src="images/logo.png" alt="旅投创新"></a>
    <div class="r">
        <ul class="nav">
            <li><a href="about.html" @@if (context.about==='act') { class="act" }>旅投创新</a></li>
            <li><a href="party.html" @@if (context.party==='act') { class="act" }>党建之窗</a></li>
            <li><a href="strategy.html" @@if (context.strategy==='act') { class="act" }>战略规划</a></li>
            <li><a href="news.html" @@if (context.news==='act') { class="act" }>新闻资讯</a></li>
            <li><a href="project.html" @@if (context.project==='act') { class="act" }>项目动态</a></li>
            <li><a href="produce.html" @@if (context.produce==='act') { class="act" }>安全生产</a></li>
            <li><a href="regiment.html" @@if (context.regiment==='act') { class="act" }>群团建设</a></li>
            <li><a href="branch.html" @@if (context.branch==='act') { class="act" }>下属企业</a></li>
            <li><a href="notice.html" @@if (context.notice==='act') { class="act" }>通知公告</a></li>
        </ul>
        <a href="#" class="link">OA登陆</a>
    </div>
</div>
<!-- header -->
<div class="menu-handler">
    <span class="burger burger-1 mtrans"></span>
    <span class="burger burger-2 mtrans"></span>
    <span class="burger burger-3 mtrans"></span>
</div>
<div class="menuBox">
    <dl class="navMobile">
        <dd><a href="index.html">首页</a></dd>
        <dd><a href="about.html">旅投创新</a>
            <div class="mtv">
                <a href="about.html">关于旅投</a>
                <a href="about1.html">关于创新</a>
                <a href="about2.html">企业文化</a>
                <a href="about3.html">社会责任</a>
                <a href="about4.html">联系我们</a>
            </div>
        </dd>
        <dd><a href="party.html">党建之窗</a>
            <div class="mtv">
                <a href="party.html">公司新闻</a>
                <a href="party1.html">行业动态</a>
                <a href="party2.html">业务公告</a>
            </div>
        </dd>
        <dd><a href="strategy.html">战略规划</a>
            <div class="mtv">
                <a href="strategy.html">五大创新</a>
                <a href="strategy1.html">主营业务</a>
                <a href="strategy2.html">业态布局</a>
                <a href="strategy3.html">资产运营</a>
                <a href="strategy4.html">战略合作</a>
            </div>
        </dd>
        <dd><a href="news.html">新闻资讯</a>
            <div class="mtv">
                <a href="news.html">创新动态</a>
                <a href="news1.html">专题报道</a>
                <a href="news2.html">社会咨询</a>
            </div>
        </dd>
        <dd><a href="project.html">项目动态</a></dd>
        <dd><a href="produce.html">安全生产</a></dd>
        <dd><a href="regiment.html">群团建设</a>
            <div class="mtv">
                <a href="regiment.html">工会动态</a>
                <a href="regiment1.html">职工之家</a>
                <a href="regiment1.html">青年之声</a>
            </div>
        </dd>
        <dd><a href="branch.html">下属企业</a></dd>
        <dd><a href="notice.html">通知公告</a>
            <div class="mtv">
                <a href="notice.html">招采公告</a>
                <a href="notice.html">公示公告</a>
            </div>
        </dd>
        <dd><a href="#">OA登陆</a></dd>
    </dl>
</div>
<!-- menuBox -->
<div class="menuBlack"></div>
<div class="mtop"></div>
